/* Patrick Thomas pwt5ca */

.centered_notification {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.bg-dim {
  position: fixed;
  /* display: block; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.task-dialog {
  position: fixed;
  padding-bottom: 60px;
  /* display: block; */
  min-width: 500px;
  max-width: 800px;
  min-height: 350px;
  max-height: 600px;
  z-index: 101;

  /* Center the div in the screen. */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.task-dialog-close {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: x-large;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.outline {
  border: 1px black solid;
}

.table-check {
  width: 1%;
}

.task-done {
  font-style: italic !important;
  color: gray !important;
}

.task-overdue {
  font-weight: bold;
  color: red;
}

.task-scheduled {
  font-weight: bold;
}

.task_date {
  font-style: italic;
  color: gray;
  font-size: smaller;
  margin-left: 0.5em;
}
