<div class="container">
  <div class="row align-items-start">
    <div class="col-sm-4 mt-3 alert alert-primary">
      <h1>Quick Navigation</h1>

      <ul>
        <li>
          <a href="#category-quick-add">Quick add</a>
        </li>
        <li><a href="#category-tasks">Tasks</a></li>
        <ul>
          <li><a href="#category-today">Today</a></li>
          <li><a href="#category-all">All</a></li>
        </ul>
        <li><a href="#category-categories">Your Categories</a></li>
        <ul>
          <li *ngFor="let category of allCategories">
            <a href="#category-user-{{ category }}">{{ category }}</a>
          </li>
        </ul>
        <!-- <li><a href="#" class="link-secondary">Trash</a></li> -->
      </ul>
    </div>
    <div class="col-sm mt-3 alert">
      <div>
        <h1 id="category-quick-add">Quick Add</h1>
        <div id="quickAddForm">
          <form
            method="GET"
            action="#"
            class="input-group mb-3 shadow-sm"
            (ngSubmit)="quickAdd()"
          >
            <input
              type="text"
              class="form-control"
              placeholder="Quick add a task"
              aria-label="Quick add a task"
              aria-describedby="quick_add_submit"
              id="quick_add_text"
              autocomplete="off"
              [(ngModel)]="quickAddText"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="quickAddParse()"
            />
            <button
              class="btn"
              [ngClass]="{
                'btn-outline-danger': quickAddText.length == 0,
                'btn-success': quickAddText.length > 0
              }"
              [disabled]="quickAddText.length == 0"
              type="submit"
              id="quick_add_submit"
            >
              Add
            </button>
          </form>
        </div>
        <div
          *ngIf="
            partialTask.title == '';
            then quickAddContent;
            else quickAddContentElse
          "
        ></div>
        <ng-template #quickAddContent>
          <i class="text-muted">
            <b>Instructions:</b>
            <br />
            <i>Dates:</i> Start typing to enter a task's title. Entering "... by
            June 1" indicates that the task is <b>due by</b> June 1st. Entering
            "... on June 1" similarly means that the task is
            <b>scheduled for</b> June 1st. For example, entering "Do homework by
            May 1 on Apr 30" schedules your homework for April 30th and makes it
            due on May 1st.
            <br />
            <i>Categories:</i> Typing a hashtag and then a category indicates a
            category. For example, "Pick apples #fruit" makes a task named "Pick
            apples" with the category
            <span class="badge bg-secondary rounded-pill">fruit</span>.
          </i>
        </ng-template>
        <ng-template #quickAddContentElse>
          <p class="text-muted">
            <i>Current task: </i>
            <span
              *ngIf="partialTask.category"
              class="badge bg-secondary rounded-pill"
            >
              {{ partialTask.category }}
            </span>
            {{ partialTask.title }}
            <small>
              <span *ngIf="partialTask.date_due" class="text-muted">
                due {{ partialTask.date_due | date: "shortDate" }}
              </span>
              <span *ngIf="partialTask.date_scheduled" class="text-muted">
                sched. {{ partialTask.date_scheduled | date: "shortDate" }}
              </span>
            </small>
          </p>
        </ng-template>
      </div>

      <hr />

      <h1 id="category-tasks">Tasks</h1>
      <h3 id="category-today">Today</h3>

      <app-task-table
        [tasks]="todayTasks"
        (clicked)="clickedTask($event)"
      ></app-task-table>

      <hr />

      <h3 id="category-all">All</h3>

      <app-task-table
        [tasks]="allTasks"
        (clicked)="clickedTask($event)"
      ></app-task-table>

      <hr />

      <h1 id="category-categories">Your Categories</h1>

      <div *ngFor="let category of allCategories">
        <h4 id="category-user-{{ category }}">{{ category }}</h4>

        <app-task-table
          [tasks]="getTasksByCategory(category)"
          (clicked)="clickedTask($event)"
        ></app-task-table>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="editTaskDialogVisible"
  id="dialog"
  [ngClass]="'task-dialog'"
  class="alert alert-light fade show"
  role="alert"
>
  <app-task-edit
    [task]="editTaskTarget"
    (taskDeleted)="exitDialog()"
  ></app-task-edit>
  <a [ngClass]="'task-dialog-close'" class="text-danger" (click)="exitDialog()"
    >×</a
  >
</div>

<div
  *ngIf="editTaskDialogVisible"
  id="dimmer"
  [ngClass]="'bg-dim'"
  (click)="exitDialog()"
></div>
