<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted"
      >Patrick Thomas <code>pwt5ca</code>. CS 4640, Spring 2021. Links for demo:
      <a routerLink="login">login</a>,
      <a routerLink="create">create account</a>, <a routerLink="">main page</a>,
      <a routerLink="account">account</a>.</span
    >
  </div>
</footer>
