<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Tasks</a>
    <div class="d-flex nav-item">
      <form method="get" class="input-group">
        <ng-container *ngIf="user.username === ''; else elseBlock">
          <span class="input-group-text">
            <a routerLink="login">Log in here</a>
          </span>
        </ng-container>
        <ng-template #elseBlock>
          <span class="input-group-text"
            ><a routerLink="account">Welcome back, {{ user.username }}</a></span
          >
          <a
            name="nav-log-out"
            class="btn btn-outline-danger"
            (click)="this.onLogout()"
          >
            Log out
          </a>
        </ng-template>
      </form>
    </div>
  </div>
</nav>
