<div class="container-fluid bg-primary text-light">
  <div class="container py-5">
    <h1 class="display-3">Welcome to <strong>Tasks</strong></h1>
    <h3 class="subtitle">A place to organize</h3>
  </div>
</div>

<div class="container my-5">
  <h3>Login to resume organizing!</h3>
  <a routerLink="/create">Need to <i>create an account</i>? Click here.</a>

  <!-- Login form -->
  <form
    method="#"
    action="GET"
    class="alert alert-primary shadow-lg mt-3 centered_notification"
    (ngSubmit)="onSubmit()"
  >
    <input type="hidden" name="creationForm" />
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        aria-describedby="usernameHelp"
        [(ngModel)]="formUsername"
      />
      <small id="usernameHelp" class="form-text text-muted"
        >Your username, used to log into your account.</small
      >
    </div>
    <div class="form-group">
      <label for="newPassword">Password</label>
      <input
        type="password"
        name="newPassword"
        class="form-control mb-3"
        [(ngModel)]="formPassword"
      />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>
