<div class="container-fluid bg-primary text-light">
  <div class="container py-5">
    <h1 class="display-3">Welcome to <strong>Tasks</strong></h1>
    <h3 class="subtitle">A place to organize</h3>
  </div>
</div>

<div class="container my-5">
  <h3>Create an account and start organizing!</h3>
  <a routerLink="/login">Already have an account? Click here.</a>

  <!-- <div
    *ngIf="this.formSubmitted"
    class="alert m-5"
    [ngClass]="{
      'alert-success': this.formSubmissionSuccessful,
      'alert-danger': !this.formSubmissionSuccessful
    }"
  >
    <p class="m-0" *ngIf="this.formSubmissionSuccessful">
      Account creation successful! Now start using your account
      <a routerLink="">here</a>!
    </p>
    <p class="m-0" *ngIf="!this.formSubmissionSuccessful">
      Account creation failed. The account either already exists or the entered
      information is invalid.
    </p>
  </div> -->

  <!-- Login form -->
  <form
    action="#"
    method="GET"
    class="alert alert-primary shadow-lg mt-3 centered_notification"
    (ngSubmit)="onSubmit()"
  >
    <input type="hidden" name="creationForm" />
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        aria-describedby="usernameHelp"
        [(ngModel)]="formUsername"
        [ngClass]="{
          'is-valid': usernameValid(),
          'is-invalid': usernameInvalid()
        }"
        [disabled]="this.formSubmissionSuccessful"
      />
      <small id="usernameHelp" class="form-text text-muted"
        >Your username, used to log into your account.</small
      >
    </div>
    <div class="form-group">
      <label for="newPassword">Password</label>
      <input
        type="password"
        name="newPassword"
        class="form-control mb-3"
        [(ngModel)]="formPassword"
        [disabled]="this.formSubmissionSuccessful"
      />
      <label for="newPassword2">Confirm password</label>
      <input
        type="password"
        name="newPassword2"
        class="form-control mb-3"
        [(ngModel)]="formPasswordVerify"
        [ngClass]="{
          'is-valid': passwordVerifyValid(),
          'is-invalid': passwordVerifyInvalid()
        }"
        [disabled]="this.formSubmissionSuccessful"
      />
    </div>
    <button class="btn btn-primary" type="submit">Create account</button>
  </form>
</div>
