<div *ngIf="tasks.length > 0; then content; else elseContent"></div>

<ng-template #content>
  <table class="table table-striped table-hover">
    <thead>
      <th scope="col table_check"></th>
      <th scope="col">Task</th>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; index as i">
        <td [ngClass]="'table-check'">
          <input
            type="checkbox"
            name=""
            id=""
            [(ngModel)]="task.is_done"
            (ngModelChange)="taskModelChange(task)"
          />
        </td>
        <td
          (click)="clicked.emit(task)"
          [ngClass]="{
            'text-muted': task.is_done,
            'fst-italic': task.is_done
          }"
        >
          <span *ngIf="task.category" class="badge bg-secondary rounded-pill">
            {{ task.category }}
          </span>
          {{ task.title }}
          <small>
            <span *ngIf="task.date_due" class="text-muted">
              due {{ task.date_due | date: "shortDate" }}
            </span>
            <span *ngIf="task.date_scheduled" class="text-muted">
              sched. {{ task.date_scheduled | date: "shortDate" }}
            </span>
          </small>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #elseContent>
  <p class="text-muted"><i>No tasks!</i></p>
</ng-template>
