.table-check {
  width: 1%;
}

.task-done {
  font-style: italic !important;
  color: gray !important;
}

.task-overdue {
  font-weight: bold;
  color: red;
}

.task-scheduled {
  font-weight: bold;
}

.task_date {
  font-style: italic;
  color: gray;
  font-size: smaller;
  margin-left: 0.5em;
}
