<div
  class="alert shadow-lg"
  [ngClass]="[messageClass, 'notification']"
  (click)="onMessageClick()"
  [@openClose]="open ? 'open' : 'closed'"
>
  <div>{{ message }}</div>
  <hr />
  <small class="text-muted">Click this notification to dismiss.</small>
</div>
