<form action="#" (ngSubmit)="close()">
  <h5>Edit Task</h5>

  <input
    class="form-control form-control-lg"
    type="text"
    placeholder="Title"
    [(ngModel)]="task.title"
    (ngModelChange)="taskModelChange(task)"
    [ngModelOptions]="{ standalone: true }"
  />

  <hr />

  <input
    class="form-control mb-2"
    type="text"
    placeholder="Category"
    [(ngModel)]="task.category"
    (ngModelChange)="taskModelChange(task)"
    [ngModelOptions]="{ standalone: true }"
  />

  <textarea
    class="form-control"
    placeholder="Description"
    [(ngModel)]="task.description"
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="taskModelChange(task)"
    rows="3"
  ></textarea>

  <label for="date_due" class="mt-3">Due on</label>
  <input
    id="date_due"
    type="date"
    class="form-control"
    [ngModel]="task.date_due | date: 'yyyy-MM-dd'"
    (ngModelChange)="task.date_due = $event"
    (ngModelChange)="taskModelChange(task)"
    [ngModelOptions]="{ standalone: true }"
  />

  <label for="date_scheduled" class="mt-3">Scheduled for</label>
  <input
    id="date_scheduled"
    type="date"
    class="form-control"
    [ngModel]="task.date_scheduled | date: 'yyyy-MM-dd'"
    (ngModelChange)="task.date_scheduled = $event"
    (ngModelChange)="taskModelChange(task)"
    [ngModelOptions]="{ standalone: true }"
  />

  <label for="date_created" class="mt-3">Created on</label>
  <input
    id="date_created"
    type="date"
    class="form-control"
    [ngModel]="task.date_created | date: 'yyyy-MM-dd'"
    disabled
    [ngModelOptions]="{ standalone: true }"
  />

  <button
    type="button"
    class="btn btn-danger"
    [ngClass]="'task-dialog-delete'"
    (click)="onDeleteClick()"
  >
    Delete
  </button>
</form>
