<div class="container mt-5">
  <h1>Your Account</h1>

  <form action="#" method="GET" (ngSubmit)="onPasswordChange()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        disabled
        value="{{ user.username }}"
        aria-describedby="usernameHelp"
      />
      <small id="usernameHelp" class="form-text text-muted"
        >Your username, used to log into your account.</small
      >
    </div>
    <h3 class="mt-4">Change Password</h3>
    <div class="form-group">
      <label for="passwordReenter">Reenter your current password.</label>
      <input
        type="password"
        name="passwordReenter"
        [(ngModel)]="formOldPassword"
        class="form-control mb-3"
      />
      <label for="newPassword">Enter your new password.</label>
      <input
        type="password"
        name="newPassword"
        [(ngModel)]="formPassword"
        class="form-control mb-3"
      />
      <label for="newPassword2">Reenter your new password.</label>
      <input
        type="password"
        name="newPassword2"
        [(ngModel)]="formPasswordVerify"
        [ngClass]="{
          'is-valid': passwordVerifyValid(),
          'is-invalid': passwordVerifyInvalid()
        }"
        [disabled]="this.formSubmissionSuccessful"
        class="form-control mb-3"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="changePasswordDisable()"
      [ngClass]="{
        'btn-primary': !this.formSubmissionSuccessful,
        'btn-outline-primary': this.formSubmissionSuccessful
      }"
    >
      Change password
    </button>
  </form>

  <h3 class="mt-4">Advanced</h3>
  <div class="mt-2">
    <a class="link-danger" (click)="onDeleteAccount()">
      <span *ngIf="deletePresses == 0; else deleteElse">Delete my account</span>
      <ng-template #deleteElse class="text-danger" (click)="onDeleteAccount()">
        Click again to delete your account. THIS CANNOT BE UNDONE.</ng-template
      >
    </a>
    <small class="text-muted">
      - Delete my account and all associated data permanently. This cannot be
      undone.
    </small>
  </div>
  <div class="mt-2">
    <a class="link text-link" (click)="onExport()">Export my data</a>
    <small class="text-muted">
      - Download all data associated with you account.
    </small>
  </div>
</div>
